<h1>About Budjee</h1>
<p><strong>Budjee</strong> is a basic self-budgeting app. It's designed to be very simple, and to provide immediate feedback on the state of your day-to-day finances. Its accuracy is dependent on the information provided, so it's best used as a general rough idea of what you have available. It's not meant to replace your banking app, just to provide a faster, slightly more anonymous glance at your funds.</p>
<p>This app was built using the following technologies:<br />
	<ul>
		<li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
		<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
		<li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
		<ul>
			<li><a href="https://code.angularjs.org/1.3.5/" target="_blank">angular-route</a></li>
			<li><a href="https://code.angularjs.org/1.3.5/" target="_blank">angular-touch</a></li>
			<li><a href="https://github.com/gsklee/ngStorage" target="_blank">ngStorage</a></li>
			<li><a href="http://angular-ui.github.io/bootstrap/" target="_blank">ui-bootstrap</a></li>
		</ul>
		<li><a href="http://cordova.apache.org/" target="_blank">Cordova</a></li>
		<li><a href="https://developer.android.com/sdk/index.html?hl=i" target="_blank">Eclipse and Android SDK</a></li>
		<li><a href="http://nodejs.org/" target="_blank">NodeJS</a></li>
		<li><a href="http://git-scm.com/" target="_blank">Git</a></li>
		<li><a href="http://www.sublimetext.com/" target="_blank">Sublime Text</a></li>
		<li><a href="http://wearekiss.com/simpless" target="_blank">SimpLESS</a></li>
	</ul>
</p>
<p>You can visit the GitHub page for this app here: <a href="https://github.com/pVVEN/budjee" target="_blank">Budjee</a></p>