<h1>{{title}}</h1>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Accessible Funds</h3>
			</div>
			<div class="panel-body">
				<h4>Currently Available: <span class="{{amtAvailableColor}}">${{amtAvailable}}</span></h4>
				<h4>After Next Payment: <span class="{{amtNextAvailableColor}}">${{amtNextAvailable}}</span></h4>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Next Payment</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<p>{{scheduledPayment.date}} - {{scheduledPayment.time}}</p>
						<p>{{scheduledPayment.desc}}</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<h4 class="{{amtNextAvailableColor}}">${{scheduledPayment.amount}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Quick Update</h3>
			</div>
			<div class="panel-body">
				<!-- CONSIDER MOVING THIS INTO ITS OWN PARTIAL -->
				<form role="form" ng-submit="submit()">
					<div class="form-group">
						<label for="quTitle">Title</label>
						<input type="text" class="form-control" id="quTitle" placeholder="Enter a title" ng-model="quTitle">
					</div>
					<div class="form-group">
						<label for="quAmount">Amount</label>
						<input type="text" class="form-control" id="quAmount" placeholder="Enter the amount" ng-model="quAmount">
					</div>
					<div class="form-group">
						<label>Type</label><br />
						<label class="radio-inline">
							<input type="radio" id="quTypeWithdrawal" name="quType" value="w" ng-model="quType" checked>
							Withdrawal
						</label>
						<label class="radio-inline">
							<input type="radio" id="quTypeDeposit" name="quType" value="d" ng-model="quType">
							Deposit
						</label>
					</div>
					<div class="form-group">
						<label>Date</label><br />
						<label class="radio-inline">
							<input type="radio" id="quDateNow" name="quDate" value="today" ng-model="quDate" checked>
							Today
						</label>
						<label class="radio-inline">
							<input type="radio" id="quDateSpecified" name="quDate" value="" ng-model="quDate">
							<input type="text" id="quDateSpecifiedText" placeholder="01/01/2015" ng-model="quDateSpecifiedText"> 
							<a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a>
						</label>
					</div>
					<div class="form-group">
						<label>Time</label><br />
						<label class="radio-inline">
							<input type="radio" id="quTimeNow" name="quTime" value="now" ng-model="quTime" checked>
							Now
						</label>
						<label class="radio-inline">
							<input type="radio" id="quTimeSpecified" name="quTime" value="" ng-model="quTime">
							<input type="text" id="quTimeSpecifiedText" placeholder="13:00" ng-model="quTimeSpecifiedText"> 
							<a href="#"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></a>
						</label>
					</div>
					<div class="form-group">
						<label>Description</label><br />
						<textarea id="quDesc" class="form-control" rows="3" ng-model="quDesc"></textarea>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-8">
							<button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>