<h1>{{title}}</h1>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Amount Available</h3>
			</div>
			<div class="panel-body">
				<h4><span class="{{amtAvailableColor}}">{{amtAvailable}}</span></h4>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Next Payment</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<p>{{scheduledPayment.date}} - {{scheduledPayment.time}}</p>
						<p>{{scheduledPayment.desc}}</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<h4 class="{{amtNextAvailableColor}}">${{scheduledPayment.amount}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Quick Update</h3>
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</div>