<h1>{{title}}</h1>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Accessible Funds</h3>
			</div>
			<div class="panel-body">
				<h4>Currently Available: <span class="{{amtAvailableColor}}">${{amtAvailable}}</span></h4>
				<h4>After Next Payment: <span class="{{amtNextAvailableColor}}">${{amtNextAvailable}}</span></h4>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Next Payment</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<p>{{scheduledPayment.date}} - {{scheduledPayment.time}}</p>
						<p>{{scheduledPayment.desc}}</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<h4 class="{{amtNextAvailableColor}}">${{scheduledPayment.amount}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Quick Update</h3>
			</div>
			<div class="panel-body">
				<form role="form" ng-submit="submit()">
					<div class="form-group">
						<label for="quTitle">Title</label>
						<input type="text" class="form-control" placeholder="Enter a title" ng-model="quTitle" />
					</div>
					<div class="form-group">
						<label for="quAmount">Amount</label>
						<input type="text" class="form-control" placeholder="Enter the amount" ng-model="quAmount" />
					</div>
					<div class="form-group">
						<label>Type</label><br />
						<label class="radio-inline">
							<input type="radio" name="quType" value="w" ng-model="quType" checked />
							Withdrawal
						</label>
						<label class="radio-inline">
							<input type="radio" name="quType" value="d" ng-model="quType" />
							Deposit
						</label>
					</div>
					<div class="form-group">
						<label>Date</label><br />
						<label class="radio-inline">
							<input type="radio" name="quDates" value="today" ng-model="quDate" checked />
							Today
						</label>
						<label class="radio-inline">
							<input type="radio" name="quDates" value="date" ng-model="quDate" />
							Specific Date
						</label>
							<input type="text" placeholder="Select Date" pick-a-date="date" ng-model="quDateSpecifiedText" /> {{ date }}
						<div ng-hide="!(quDate == 'date')">
							<!-- <input type="text" placeholder="01/01/2015" ng-model="quDateSpecifiedText">  -->
							<a href="#" class="btn btn-lg"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a>
						</div>
					</div>
					<div class="form-group">
						<label>Time</label><br />
						<label class="radio-inline">
							<input type="radio" name="quTime" value="now" ng-model="quTime" checked />
							Now
						</label>
						<label class="radio-inline">
							<input type="radio" name="quTime" value="time" ng-model="quTime" />
							Specific Time
						</label>
							<input type="text" placeholder="Select Time" pick-a-time="time" ng-model="quTimeSpecifiedText" /> {{ time }}
						<div ng-hide="!(quTime == 'time')">
							<!-- <input type="text" placeholder="13:00" ng-model="quTimeSpecifiedText">  -->
							<a href="#" class="btn btn-lg"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></a>
						</div>
					</div>
					<div class="form-group">
						<label>Description</label><br />
						<textarea class="form-control" rows="3" ng-model="quDesc"></textarea>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-8">
							<button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<pre>
			<p>Title: {{formData.title}}</p>
			<p>Amount: {{formData.amount}}</p>
			<p>Type: {{formData.type}}</p>
			<p>Date: {{formData.date}}</p>
			<p>Time: {{formData.time}}</p>
			<p>Description:<br />{{formData.desc}}</p>
			<p>{{formData}}</p>
		</pre>
	</div>
</div>