
<h1>{{title}}</h1>
<p>This is the transactions page. It will contain the following:</p>
<ul>
	<li>Text field to enter a title</li>
	<li>Combobox list of past transactions, with viewer when selected</li>
	<li>Ability to edit recurring transactions</li>
	<li>Set if it's a payment or deposit</li>
	<li>Set if it's recurring or not, and how often</li>
	<li>Text field for the amount</li>
</ul>



<div>
	<div class="form-group">
		<label>Sort</label><br />
		<label class="radio-inline">
			<input type="radio" name="sort" value="a" ng-click="sortAscending()" />
			Ascending
		</label>
		<label class="radio-inline">
			<input type="radio" name="sort" value="d" ng-click="sortDescending()" />
			Descending
		</label>
	</div>
</div>
<div class="row" ng-repeat="transaction in tempTransactions">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{transaction.title}}</h3>
				<button class="btn btn-danger pull-right"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
			</div>
			<div class="panel-body">
				<p>{{transaction.dateTime}}</p>
				<p>${{transaction.amount}}</p>
				<p>{{transaction.type}}</p>
				<p>{{transaction.desc}}</p>
			</div>
		</div>
	</div>
</div>