<!DOCTYPE html>
<html lang="en" ng-app="angularTestApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--bs-->
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" /><!--, target-densitydpi=device-dpi" />-->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <title>Angular Test</title>
    </head>
    <body ng-controller="AngularTestController">
        <!--<div class="app">
            <h1>Apache Cordova</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready. Welcome to Budjee!</p>
            </div>
            <p>Here's a bunch of stuff.</p>
            <p>Here's a bunch of other stuff.</p>
        </div>-->

        <h1>AngularTestApp</h1>

        <div>
            <form ng-submit="addTodo(todoTextModel)">
                <input type="text" placeholder="text" value="" ng-model="todoTextModel">
                <button type="submit">+</button>
            </form>
            <p>Entered: {{ todoTextModel }}</p>
            <ul>
                <li ng-repeat="todo in todos">
                    <button ng-click="removeTodo($index)">-</button>
                    <b>{{todo.text}}</b>
                </li><!-- for each item in the todos array of the AngularTestController -->
            </ul>
        </div>

        <button>Next</button>


        <!--DO NOT PUT HTML BELOW THIS LINE-->
        <!--<script type="text/javascript" src="cordova.js"></script>-->
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>